<section class="lg:py-52 sm:py-36 sm:px-2 md:px-5 py-36 bg-slate-100">

                    </div>
                </div>
            </div>


            <div class="bg-slate-50 rounded-lg border shadow-md">
                <div class="m-2 grid grid-flow-row gap-1">
                    <div class="bg-emerald-600 rounded-lg">
                        <p class="ml-3 font-bold text-white">About the client</p>
                    </div>
                    <div class="grid sm:grid-flow-col grid-flow-row gap-1">
                        <div>
                            <fl-rating [value]="4" />
                        </div>
                        <!-- <div *ngFor="let item of locationData.response">
                           {{item.stateName}}
                      </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>