<section class="lg:py-52 sm:py-36 sm:px-2 md:px-5 py-36 bg-slate-100">
    <div class="w-full lg:container">
        <div id="main" class="m-8 sm:grid sm:grid-row-4 sm:grid-cols-3 sm:grid-flow-col gap-1">
            <div class="bg-green-300 col-span-2 row-span-4 rounded-lg">
                <div class="container col-span-2 items-center mt-2">
                    <div class="relative grid grid-rows-3-4 items-center gap-2 ">
                        <div>
                            <p class="m-0">Description :</p>
                        </div>
                        <div>
                            <p class="indent-8 text-justify sm:w-full">
                                I am looking for a freelancer who has experience in Power Automate and SharePoint to
                                sync a
                                custom
                                list from SharePoint to Planner. The syncing should be done based on a specific column
                                filter and
                                the frequency should be daily.
                            </p>
                            <ul>
                                <li>Ideal skills and experience:</li>
                                <li>- Strong knowledge of Power Automate and SharePoint</li>
                                <li>- Experience in syncing data between SharePoint and Planner</li>
                                <li>- Ability to set up specific column filters for syncing</li>
                                <li>- Experience in scheduling syncing at specific frequencies</li>
                            </ul>
                        </div>
                        <div class="text-blue-400 flex gap-3">
                            <a href="">.NET</a>
                            <a href="">ASP.NET</a>
                            <a href="">C# Programming</a>
                            <a href="">Microsoft SQL Server</a>
                            <a href="">MVC</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-green-300 rounded-lg">
                <div class="m-2 grid grid-flow-row gap-1">
                    <div class="bg-green-300 rounded-lg">
                        <p class="font-bold">About the client</p>
                    </div>
                    <div class="grid sm:grid-flow-col grid-flow-row gap-1">
                        <div>
                            <fl-rating [value]="4" />
                        </div>
                        <div>
                            <p >Gujarat,India</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-green-300 rounded-lg">
                <div class="m-2 grid grid-flow-row gap-1">
                    <div class="bg-green-300 rounded-lg">
                        <div class="grid sm:grid-flow-col grid-flow-row gap-1">
                            <div>
                                <p class="text-xl font-medium">Bidding closes in <span class="text-red-500"> 6 days!
                                    </span></p>
                            </div>
                            <div>
                                <button class="p-1 text-white rounded-full bg-emerald-600">2:00:00</button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-green-300 rounded-lg">
                        <div class="grid-flow-row">
                            <p>Your bid for this job</p>
                            <fl-textbox class="" />
                        </div>
                    </div>
                    <div class="bg-green-300 rounded-lg">
                        <fl-button name="Bid" size="S" shade="W" animation="F" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>