<section class="flex lg:py-1 sm:py-36 bg-slate-100">
  <div class="bg-scroll bg-cover w-full mt-52 p-2 h-screen">
    <div class=" p-2  bg-emerald-500">
      <form class="max-w-2xl container bg-white  rounded-md">
        <div class="flex items-center py-2 ">
          <input
            class="appearance-none bg-transparent border-none w-full text-gray-700 leading-tight focus:outline-none"
            type="text" placeholder="Search Freelancers" aria-label="Full name">
          <button
            class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
            type="button">
            Search
          </button>
          <input type="reset"
            class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded"
            value="Cancel">
        </div>
      </form>
    </div>
    <div class="p-2  mt-2 ">
      <div class="grid md:grid-cols-4 gap-10 h-full container p-2">
        <div class=" bg-white col-span-3 rounded-md">
          <div class="p-5 flex justify-between">
            <p class="font-semibold">Top Results</p>
            <p>Sort By</p>
          </div>
          <hr>
        </div>
        <div class="bg-white rounded-md ">
        </div>
      </div> ​
    </div>
  </div>
</section>