<div >
    <div class="grid grid-cols-4 group mt-2 bg-slate-50 border rounded-lg">
        <div class="col-span-3 group-hover:bg-slate-200 rounded-sm">
            <div class="grid grid-rows-3 items-center ml-5">
                <div class="inline-block">
                    <h2><b>project Name</b></h2>
                </div>
                <div class="">
                    <p class="text-clip overflow-hidden h-12">Project Descrriptions
                    </p>
                </div>
                <div class="flex text-blue-400 gap-3">
                    <div class="flex-row">
                        <p>skill 1</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="grid grid-rows-3 min-h-full items-center group-hover:bg-slate-200">
                <div class="place-self-center">
                    <p><span class="font-bold underline">₹ Avg Bid / hr</span> Avg Bid
                    </p>
                </div>
                <div class="place-self-center">
                    <p>10 Bids</p>
                </div>
                <div class="place-self-center">
                    <fl-button class="hidden group-hover:block" size="S" name="Bid" shade="D"
                        [routerLink]="['project-details/','projectid']" />
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-4 group mt-2 bg-slate-50 border rounded-lg">
        <div class="col-span-3 group-hover:bg-slate-200 rounded-sm">
            <div class="grid grid-rows-3 items-center ml-5">
                <div class="inline-block">
                    <h2><b>project Name</b></h2>
                </div>
                <div class="">
                    <p class="text-clip overflow-hidden h-12">Project Descrriptions
                    </p>
                </div>
                <div class="flex text-blue-400 gap-3">
                    <div class="flex-row">
                        <p>skill 1</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="grid grid-rows-3 min-h-full items-center group-hover:bg-slate-200">
                <div class="place-self-center">
                    <p><span class="font-bold underline">₹ Avg Bid / hr</span> Avg Bid
                    </p>
                </div>
                <div class="place-self-center">
                    <p>10 Bids</p>
                </div>
                <div class="place-self-center">
                    <fl-button class="hidden group-hover:block" size="S" name="Bid" shade="D"
                        [routerLink]="['project-details/','projectid']" />
                </div>
            </div>
        </div>
    </div>
</div>