<section class="lg:py-60 md:py-36 sm:px-2 md:px-4 py-60 bg-slate-100">
    <div *ngIf="errorMessage" class="bg-red-500 text-white p-4 mb-4">
      {{ errorMessage }}
    </div>
  <div class="flex justify-center items-center h-full mb-10">
    <div class="w-2/3 bg-white rounded-lg shadow-lg p-28">
      <h2 class="text-3xl mb-2 font-bold text-green-600 ">
        Tell us what you need done.
      </h2>
      <h1 class="text-md mb-10 text-gray-500">
        Contact skilled freelancers within minutes.
        View profiles, ratings and portfolios of them and get satisfied with their work.
      </h1>
      <form class="w-full" [formGroup]="insertProject" (ngSubmit)="collectProject()">
        <div class="flex flex-wrap -mx-2 mb-8">
          <input
            class="appearance-none block w-full m:w-2/3 border border-green-300 rounded py-4 px-4 mb-12 leading-tight focus:outline-none focus:bg-white focus:border-green-500 placeholder-black"
            id="projectName" formControlName="projectName" type="text" placeholder="Enter Peoject Name" />
          <textarea
            class="appearance-none block w-full m:w-2/3 border border-green-300 rounded py-4 px-4 mb-5 leading-tight focus:outline-none focus:bg-white focus:border-green-500 placeholder-black h-32"
            id="projectDescription" formControlName="projectDescription" type="text"
            placeholder="Enter Project Description"></textarea>
        </div>
        <div class="flex flex-wrap -mx-2 mb-8">
          <div class="w-full md:w-1/2 mb-4 pr-2">
            <input
              class="appearance-none block w-full m:w-2/3 border border-green-300 rounded py-4 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-green-500 placeholder-black"
              id="min" formControlName="minPrice" type="number" placeholder="minimum price" />
          </div>
          <div class="w-full md:w-1/2 mb-4 pl-2">
            <input
              class="appearance-none block w-full border border-green-300 rounded py-4 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-green-500 placeholder-black"
              id="max" formControlName="maxPrice" type="number" placeholder="maximum price" />
          </div>
        </div>
        <div class="flex flex-wrap -mx-2 mb-8">
          <div class="w-full md:w-1/2 mb-4 pr-2">
            <input
              class="appearance-none block w-full border border-green-300 rounded py-4 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-green-500 datepicker"
              id="startBidDate" formControlName="bidStartDate" type="datetime-local"
              title="Usage: Select 'Start Date of the bidding.'" />
          </div>
          <div class="w-full md:w-1/2 mb-4 pl-2">
            <input
              class="appearance-none block w-full border border-green-300 rounded py-4 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-green-500 datepicker"
              id="endBidDate" formControlName="bidEndDate" type="datetime-local"
              title="Usage: Select 'End Date of the bidding.'" />

          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-8">
          <div class="w-full mb-4 ">
            <div class="relative">
              <select
                class="block appearance-none w-full border border-green-300 py-4 px-4 mb-2 rounded leading-tight focus:outline-none focus:bg-white focus:border-green-500 "
                id="Confidencial" formControlName="isConfidential"
                title="Usage: Select 'Confidential-TRUE' if you want to keep the project details private.">
                >
                <option value="" selected disabled>Confidencial</option>
                <option>true</option>
                <option>false</option>
              </select>

              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-8">

          <div class="bg-white rounded-md gird grid-rows-2 container min-h-[20%]">
            <div>
              <div class="relative">
                <div>
                  <button type="button"
                    class="inline-flex flex-initial w-full mt-2 justify-center items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    (click)="toggleDropdown()">
                    {{ selectedOptions.length > 0 ? selectedOptions.length + ' Selected' : 'Selects Skills' }}
                    <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" [class.rotate-180]="isDropdownOpen">
                      <path fill-rule="evenodd"
                        d="M10 16a1 1 0 01-.707-.293l-5-5a1 1 0 011.414-1.414L10 13.586l3.293-3.293a1 1 0 111.414 1.414l-4 4A1 1 0 0110 16z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </button>
                </div>
                <div class="overflow-y-scroll h-40 w-full rounded-md bg-white shadow-lg mt-1" *ngIf="isDropdownOpen"
                  (clickOutside)="closeDropdown()">
                  <ul>
                    <li *ngFor="let option of options" class="p-2">
                      <label class="inline-flex items-center">
                        <input type="checkbox"
                          class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                          [checked]="isSelected(option)" (change)="toggleOption(option)">
                        <span class="ml-2">{{ option }}</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="mt-4">
                Selected Skills:
                <ul class="px-5">
                  <li *ngFor="let selectedOption of selectedOptions">- {{ selectedOption }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="my-2">

          <fl-button name="Submit" size="S" shade="D" animation="C" type="nfSubmit" />
        </div>
      </form>
    </div>
  </div>

</section>