<div class="p-2  mt-2 ">
  <div class="grid md:grid-cols-6 gap-10 h-full container p-2">
    <div class=" bg-white col-span-5 rounded-md">
      <div class="p-2">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="">
      <div class="flex flex-col bg-white rounded-md p-2">
        <a class="my-2 cursor-pointer" routerLink="./">Bids</a>
        <hr />
        <a class="my-2 cursor-pointer" routerLink="current-project">Current Projects</a>
        <hr />
        <a class="my-2 cursor-pointer" routerLink="completed">Completed projects</a>
        <hr />
      </div>
    </div>
  </div>
</div>
