<ul class="lg:flex font-semibold text-slate-700 text-lg gap-8 xl:gap-14">
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['']">Home</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['']">Category</a>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()">
      Category
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button [routerLink]="['']" mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </span>
    </mat-menu> -->

    </li>
    <li class="p-3 border-t lg:border-0">
      <a>Hire Freelancer</a>
    </li>
    <li class="p-3 border-y lg:border-0">
      <a>Contact</a>
    </li>
  </ul>